@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ------------------RoadmapSwiper/ CardSwiper-------------------   */
.roadmap-swiper-bg {
  /* padding: 60px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-swiper {
  width: 100%;
  max-width: 1100px;
  padding-bottom: 60px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s, opacity 0.3s;
  margin-top: 50px;
  margin-bottom: 50px;
}

.roadmap-card {
  /* background: rgba(18, 28, 48, 0.95); */
  padding: 32px;
  margin: auto;
  min-height: 380px;
  color: #fff;
  /* border: 2px solid #1de9b617; */
  box-shadow: 0 0 8px 1px #1de9b60c;
  transition:
    box-shadow 0.3s,
    border 0.3s,
    transform 0.3s,
    filter 0.3s;
  opacity: 0;

}

.swiper-slide-active .roadmap-card {
  box-shadow: 0 0 8px 1px #1de9b60c;
  filter: none;
  opacity: 1;
  transform: scale(1.08);
  z-index: 2;
  /* background: rgba(18, 28, 48, 1); */
}

.swiper-slide-next .roadmap-card,
.swiper-slide-prev .roadmap-card {
  /* filter: blur(0.5px) brightness(0.85); */
  opacity: 0.85;
}

.gradient-border {
  padding: 1px;
  /* border width */
  background: linear-gradient(to right,
      #4EA9A9 0%,
      #4EA9A9 19%,
      #A1920E 43%,
      #A1920E 63%,
      #5B4A9A 82%,
      #5B4A9A 100%);
  /* display: inline-block; */
}
.gradient-border-light {
  padding: 1px;
  /* border width */
  background: linear-gradient(to right,
      #4ea9a988 0%,
      #4ea9a980 19%,
      #a1920e7c 43%,
      #a1920e79 63%,
      #5b4a9a69 82%,
      #5b4a9a73 100%);
  /* display: inline-block; */
}

.gradient-border-inner {
  /* card background */
  border-radius: 0.875rem;
  height: 100%;
  width: 100%;
}

.roadmap-quarter {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.roadmap-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
}

.roadmap-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.roadmap-list li {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.5;
  text-align: left;
}

.swiper-button-next,
.swiper-button-prev {
  /* color: #fff !important; */
  filter: drop-shadow(0 0 2px #1de9b6);
  top: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.6rem !important;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 3px !important;
  background: #fff !important;
  border-radius: 1px !important;
  opacity: 0.5;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #1de9b6;
  opacity: 1;
}

.custom-dashed-border {
  border: 2px dashed #ccc;
  /* thinner border and lighter gray */
  padding: 24px 10px;
  border-radius: 35px;
  margin-bottom: 30px;
  position: relative;
}

/* ---------------------------------Animation keyframes---------------------------- */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Apply animations to elements */
.animate-slide-in {
    animation: slideIn 0.5s ease-out forwards;
}
